CONFIG_ISA_riscv=y
# CONFIG_RV64 is not set
# CONFIG_RVE is not set
CONFIG_TARGET_SHARE=y
CONFIG_CC_OPT="-O2"
# CONFIG_TRACE is not set
CONFIG_YSYXSOC=y
CONFIG_MBASE=0x30000000
CONFIG_MSIZE=0x1000000
CONFIG_MEM_RANDOM=y
